@model Proyecto3.DTOs.ContactsCreateDTO

@{
    ViewData["Title"] = "Editar Contacto";
}

<div class="container mt-5">
    <div class="card shadow-lg rounded">
        <div class="card-header bg-secondary text-white text-center py-3">
            <h3 class="mb-0">@ViewData["Title"]</h3>
        </div>
        <div class="card-body p-4">
            @await Html.PartialAsync("_Alerts")

            <form method="post" class="p-3">


                <div class="mb-3">
                    <label asp-for="ContactoTelefono" class="form-label fs-5 fw-semibold"></label>
                    <textarea asp-for="ContactoTelefono" class="form-control form-control-lg" placeholder="Ingrese el Número de Telefono"></textarea>
                    <span asp-validation-for="ContactoTelefono" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ClientesId" class="form-label fs-5 fw-semibold"></label>
                    <select asp-for="ClientesId"
                            asp-items="@(new SelectList(Model.Clientes, "Id", "ClienteNombre", Model.ClientesId))"
                            class="form-select form-select-lg">
                        <option value="">Selecciona un Cliente</option>
                    </select>
                    <span asp-validation-for="ClientesId" class="text-danger small"></span>
                </div>


                <div class="mb-3 form-check">
                    <input asp-for="Activo" type="checkbox" class="form-check-input" />
                    <label asp-for="Activo" class="form-check-label fs-5 fw-semibold"></label>
                    <span asp-validation-for="Activo" class="text-danger small d-block"></span>
                </div>

                <div class="text-center mt-4">
                    <a href="@Url.Action("Index", "Contacts")" class="btn btn-outline-secondary px-4 py-2">
                        <i class="fas fa-arrow-left"></i> Cancelar
                    </a>
                    <button type="submit" class="btn btn-success px-4 py-2 ms-2">
                        <i class="fas fa-save"></i> Guardar cambios
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
